.card{
    margin-left: 30px;
    font: 18px Montserrat;
    width: 70%;
    margin: 0px auto;
}

.card a{
    font: 22px Montserrat;
    font-weight: 500;
    margin-bottom: 30px;
}


.card p a{
    font: 18px Montserrat;
    text-decoration: underline;
    margin-bottom: 30px;
}


.search_button {
    margin-top: 10px;
}

.search-tasks{
    margin-bottom: 30px;
}