{% extends 'layout/base.html' %}
{% load static %} <!--загружает модуль расширения-->

{% block title %}
    Главная|Управление ИТ-проектами {{ title }}
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/all_tasks.css' %}">
{% endblock %}

{% block content %}
    <p><a href="{% url 'main:task_search' %}" style='margin-left: 30px; font-family: Montserrat; font-size: 18px;'>Поиск</a></p>
    {% for task in tasks %}
        <div class='card'>
            <div class='card-body'>
                <h5><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h5>
                <p>{{ task.content }}</p>
                <p>Теги: {{ task.tags.all|join:', ' }}</p>
                <p>Выполняют задачу: {{ task.person }}</p>
                <p>Компания: {{ task.company }}</p>
                <p>Дата сдачи: {{ task.complete_date }}</p>
                <p>Дата создания: {{ task.created }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
    {% include "main/paginator.html" with page=page_obj %}
    <!--Типовое представление ListView передает запрошенную страницу в переменную с именем page_obj-->
{% endblock %}