{% extends 'layout/base.html' %}
{% load static %} <!--загружает модуль расширения-->

{% block title %}
    Главная|Управление ИТ-проектами {{ title }}
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/all_tasks.css' %}">
{% endblock %}

{% block content %}
    {% if tag %}
        <h3 style='font-size: 20px;'>Посты, помечанные тегом "{{ tag.name }}"</h3>
    {% endif %}

    <div class='search-tasks' style='margin-bottom: 30px;'>
        {% if query %}
            <div class='tasks-includes-tags' style='margin: 0 auto;'>
                <h3 style='text-align: center; margin-bottom: 20px;'>Задачи, содержащие: "{{ query|capfirst }}"</h3>
                <h5 style='text-align: center; margin-bottom: 20px;'>
                    {% with results.count as total_results %}
                    Найдено {{ total_results }} результатов по запросу
                    {% endwith %}
                </h5>
            
                {% for task in results %}
                <div class='card'>
                    <div class='card-body'>
                        <h5><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h5>
                        <p>{{ task.content }}</p>
                        <p>Теги: {% for tag in task.tags.all %}
                            <a href="{% url 'main:task_list_by_tag' tag.slug %}" style='text-decoration: none;'>{{ tag.slug }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                        <p>Выполняют задачу: 
                            {% for user in task.person.all %}
                                <a href='{% url "accounts:profile" user.id %}'>{{ user.username }}</a>,
                            {% endfor %}
                        </p>
                        <p>Компания: {{ task.company }};</p>
                        <p>Дата сдачи: {{ task.complete_date }}</p>
                        <p>Дата создания: {{ task.created }}</p>
                    </div>
                </div>
                </div>
            {% empty %}
                <p>Результатов поиска по запросу не найдено.</p>
            {% endfor %}
            <div class='row'>
                <div class='col'></div>
                <div class='col'><a href="{% url 'main:all_tasks' %}" class="btn btn-outline-dark" style='text-align: center; margin: 0 auto; display: block; margin-top: 40px; width: 50%;'>Назад</a></div>
                <div class='col'><a href="{% url 'main:all_tasks' %}" class="btn btn-outline-dark" style='text-align: center; margin: 0 auto; display: block; margin-top: 40px;'>Повторить поиск</a></div>
                <div class='col'></div>
            </div>
            {% else %}
                <div class='card'> <h4 style='margin-bottom: 10px; margin-top: 20px; text-align: center;'>Поиск задачи</h4>
                    <div class='card-body'>
                        <form method="get">
                            {{ form.as_p }}
                            <input type="submit" value="Найти" class="btn btn-outline-dark">
                        </form>
                    </div>
                </div>
        <br><br>
        {% for task in tasks %}
        <div class='card'>
            <div class='card-body'>
                <h5><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h5>
                <p>{{ task.content }}</p>
                <p>Теги: {% for tag in task.tags.all %}
                    <a href="{% url 'main:task_list_by_tag' tag.slug %}" style='text-decoration: none;'>{{ tag.slug }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}</p>
                <p>Выполняют задачу: 
                    {% for user in task.person.all %}
                        <a href='{% url "accounts:profile" user.id %}'>{{ user.username }}</a>,
                    {% endfor %}
                </p>
                <p>Компания: {{ task.company }};</p>
                <p>Дата сдачи: {{ task.complete_date }}</p>
                <p>Дата создания: {{ task.created }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
    {% include "main/paginator.html" with page=page_obj %}
    <!--Типовое представление ListView передает запрошенную страницу в переменную с именем page_obj-->
        {% endif %}
    </div>
        
{% endblock %}