{% extends 'layout/base.html' %}
{% load main_tags %}
{% load static %}

{% block title %}Список задач{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/detail.css' %}">
{% endblock %}

{% block content %}
    <a class='btn btn-outline-dark' href="{% url 'main:main_page' %}">Назад</a>
    <br><br>
            <h3>{{ task.title }}</h3>
            <ul class='detail-list' style='padding-left: 0px;'>
            <li style='padding: 0px;'><b>В разработке участвуют:</b> {{ task.person }};</li>
            <li><b>Описание задачи:</b> {{ task.content }}</li>
            <li><b>Тип задачи:</b> {{ task.type }};</li>
            <li><b>Компания:</b> {{ task.company }};</li>
            <li><b>Статус:</b> {% if task.status.title == '+' %}
            Завершена;{%  endif %}</li>
            <li><b>Создана:</b> {{ task.created }};</li>
            <li><b>Последнее изменение:</b> {{ task.updated }};</li>
            <li><b>Срок:</b> {{ task.complete_date }};</li>
            <hr>
            <li><b>Теги:</b> {{ task.tags.all|join:', ' }}</li></ul>
            <hr>
            <p>
                <a class="btn btn-outline-dark btn-lg" role="button" href="{% url 'main:task_share' task.id %}">Поделиться</a>
                <a class='btn btn-outline-primary btn-lg' role='button' href='edit/{{ task.id }}'>Редактировать</a>
                <a class='btn btn-outline-danger btn-lg' role='button' href='delete/{{ task.id }}'>Удалить</a>
            </p>
            {{ task.image.image }}

        <div class="comment_section">
            {% include "main/includes/comment_form.html" %}
        </div>



        <hr>
        {% with comments.count as total_comments %}
        <h3>
            Количество комментариев: {{ total_comments }}
        </h3>
    {% endwith %}

        {% for comment in comments %}
        <div class="comment">
            <div class="card" style="width: 25rem;">
            <p class="info">
                
                    <div class="card-body">
                      <h5 class="card-title">{{ comment.name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ comment.created|date:"d M Y"  }}</h6>
                      <p class="card-text">{{ comment.body|linebreaks }}</p>
                    </div>
                  </div>
            </p>
        </div>
            <br>
        </div>
        {% empty %}
        <p>Нет комментариев.</p>
    {% endfor %}
    <br>

        <footer>
        <hr>
        <h3>Похожие посты:</h3>
        {% for task in similiar_tasks %}
            <p>
                <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
            </p>
            {% empty %}
            Похожих постов нет.
        {% endfor %}
        
        <br><br>
        </footer>

{% endblock %}