{% extends 'layout/base.html' %}
{% load main_tags %}
{% load static %} <!--загружает модуль расширения-->

{% block title %}
    Главная|Управление ИТ-проектами {{ title }}
{% endblock %}
{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
{% endblock %}
{% block content %}
        <div class="wallpaper">
            <div class="container">
                <div class="title">
                    <h1>IT Project Manager</h1>
                    <p id="description">Make each day your masterpiece <i class="fa-sharp fa-regular fa-star fa-spin" style="color: #ffd500;"></i></i></p>
                    <a class="add_button" href="{% url 'main:add' %}">Добавить</a>
                </div>
                <div class="info">
                {% if request.user.is_authenticated %}
                {% if tag %}
                    <h3>Посты, помечанные тегом "{{ tag.name }}"</h3>
                {% else %}
                    <h3>Общее число постов: {% total_tasks %}</h3>
                {% endif %}
                
                {% for task in tasks %}
                    <div class="box">
                        <a href="{{ task.get_absolute_url }}"><b>{{ task.title|capfirst }}</b></a>
                        <p>Описание: {{ task.content|truncatewords:10 }}</p>
                        <p>Срок: {{ task.complete_date }}</p>
                        <p>Дата добавления: {{ task.date|date:"d.m.Y" }}</p>
                        <p>Статус: <a href = "/{{ task.status.pk }}">{{ task.status.title }}</a></p>
                        <p>Уровень сложности: {{ task.type }}</p>
                        <p class="tags">Теги:
                            {% for tag in task.tags.all %}
                                <a href="{% url 'main:task_list_by_tag' tag.slug %}">{{ tag.slug }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}

                        </p>
                    </div>
                {% endfor %}
               
                {% include "main/paginator.html" with page=tasks %}
                <br>
                <h3>Недавние задачи:</h3>
                {% show_latest_tasks 3 %}

                <h3>Самые комментируемые посты:</h3>
                {% get_most_commented_tasks as most_commented_tasks %}
                <ul>
                    {% for task in most_commented_tasks %}
                    <li>
                        <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
                    </li>
                    {% endfor %}
                </ul>


                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}