{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
  {{title}}
{% endblock %}

{% block extra_head_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/registration.css' %}">
{% endblock %}

{% block content %}
{% if form.errors %}
    <mark>При попытке зарегистрироваться произошла ошибка.</mark>
{% endif %}
<ul class='error-list' style='color: red; text-decoration: none'>
  <li>{{form.errors.experience_years}}</li>
  <!--<li>{{ form.errors.experience_years.help_text }}</li>
  <li>{% for error in form.errors%}
      {{ error.help_text }}
    {% endfor %}
  </li>-->
</ul>

    <form action="{% url 'accounts:register_user' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="margin-top: 20px; height: 40px;">Зарегистрироваться</button>
    <br><br>
</form>

{% endblock %}